.containerText{
  background-color: black;
  margin: 0;
  padding: 0;
}
.readerPage {
  width: 100%;
  display: flex;
  background-color: #FFC23C;
  font-family: "Marhey", cursive;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navbarChapters {
  width: 100%;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-family: "Marhey", cursive;
}
.titleNovel {
  width: 100%;
  text-align: center;
}
.titleNovel > h3 {
  padding-top: 10px;
}
.navItme {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
  padding: 10px;
}
.buttons {
  display: flex;
}
.rightB,
.leftB,
.mode,
.nuberChapter {
  border: none;
  color: black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: 0.4mm solid white;
  margin-left: 15px;
  cursor: pointer;
}
.dropdownItem {
  border: none;
  position: absolute;
  border-radius: 10px;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: 25px;
  margin-top: 10px;
  border: 0.4mm solid white;
}
.readAria {
  margin-top: 20px;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Marhey", cursive;
  align-items: center;
}
.textContenet {
  color: white;
  margin: 15px;
  display: flex;
  width: 100%;
  height: 800px;
  max-width: 700px;
text-align: right;
}
.textContenet >p{
  width: 100%;
}
