.all{
  background-color: black;
}
.novals {
  padding-top: 1.3em;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Marhey', cursive;

} 
.novalsContainer {
  width: 100%;
  max-width: 1024px;
  font-family: 'Marhey', cursive;

}
.novelsCitmes {
  text-align: center;
}

.novalBox {
  width: 150px;
  margin: 10px;
  height: 250px;
  display: inline;
  float: left;
  padding: 15px;
  border: 0.1mm solid white;
  border-radius: 7px;
  background-color: #FFC23C;
}


.img {
  width: 100%;
  border-radius: 7px;
}
