.novels {
  width: 100%;
  background-color: #120000;
  color: white;
}
.novel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Marhey", cursive;
  padding: 1px;
}
.novelContainer {
  display: flex;
  width: 100%;
  max-width: 1024px;
  padding: 10px;

  background-color: #d12e2e;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.chapterContainer {
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
}
.chapterContainer > h3 {
  display: flex;
  align-items: center;
}
.chapterContainer > ul > li > a {
  text-decoration: none;
  color: white;
}
.NImg {
  border-radius: 10px;
  margin: 10px;

  font-family: "Marhey", cursive;
}
.NCItems {
  font-family: "Marhey", cursive;
  gap: 20px;
}
.novelDesc {
  max-width: 1024px;
  margin-top: 1em;
  gap: 10px;
  color: white;
}
#story {
  display: none;
}

.NCItems > .title,
.translator,
.rating,
.story,
.tags {
  color: white;
  word-spacing: 3px;
}

.image-airia {
  display: flex;
  height: min-content;
}

.chapter {
  display: flex;
  margin-top: 0.1em;
  font-family: "Marhey", cursive;
  width: 100%;
  align-content: center;
  justify-content: center;
  color: white;
}

.chapter > h3 {
  width: 100%;
  height: 0px;
  padding: 10px;
}
.chapterContainer {
  width: 100%;
  color: white;
}
.chapterContainer > ul {
  list-style: none;
  width: 100%;
  padding: 10px;
  max-width: 1200px;
  margin: 10px;
  color: white;
}
.chapterContainer > ul > li {
  border-bottom: 0.5mm solid white;
}

@media only screen and (max-width: 600px) {
  .NImg {
    width: 120px;
    border-radius: 10px;
  }
}
