.footer {
  background-color: #4f86f7 ;
  width: 100%;
  display: flex;
  margin-top: 0.3em;
  align-items: center;
  justify-content: center;
  height: 90px;
}
.privecy-terms {
  width: 100%;
  color: white;
max-width: 1024px;
  padding: 15px;


}
.privecy-terms>a{
  gap: 10px;
  margin: 10px;
  padding: 5px;
  float: right;
}
.copyright{
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .footer {
display: block;
  }
}

