.footer {
  background-color: #4f86f7 ;
  width: 100%;
  margin-top: 0.3em;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  font-family: 'Marhey', cursive;

}
.privecy-terms {
  width: 100%;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: 'Marhey', cursive;

}
.privecy-terms>a{
  gap: 10px;
  margin: 10px;
  padding: 5px;

}
.copyright{
  display: flex;
 justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .footer {
display: block;
  }
}

